@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Paylocity Demo</h1>

    <center>
        <button id="getEmployeesBtn">Get Started</button>

        <div style="display:none" id="loadingGif"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>

        <div id="divEmployeeList"></div>

        <div id="divEmployee"></div>

        <div id="thanks">
            <hr />
            <p>
                Just wanted to say a quick thanks for taking the time to review my application, although I had to rush this project a bit and scale
                back my initial ambitions, I hope I have shown what I can do in a short ammount of time, I started just today!
            </p>

            <br />

            <p>This is a C# 8.0 ASP.NET CORE 3.0 MVC Application using a SQL Server Remote Database run by AWS!</p>
        </div>
    </center>

    <hr />
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
