@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Paylocity Demo</h1>

    <center><button id="getEmployeesBtn">Get Employees</button></center>

    <div id="divEmployeeList">
        
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
